.page-header
  = link_to @batch, class: 'btn btn-default' do
    %i.fas.fa-arrow-left
    Back
  = link_to edit_batch_specific_gravity_path(@batch,@specific_gravity), class: 'btn btn-primary' do
    %i.fas.fa-edit
    Edit
  %h1 Show Specific Gravity

%dl.dl-horizontal
  %dt Value:
  %dd= @specific_gravity.value
  %dt Temperature:
  %dd= @specific_gravity.temperature  
  %dt Type:
  %dd= @specific_gravity.stage
  %dt Batch:
  %dd= @specific_gravity.batch_id
