= form_for @reading, html: { class: "form-horizontal", role: "form" } do |f|
  -if @reading.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@reading.errors.count, "error")} prohibited this reading from being saved:"

      %ul
        - @reading.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :temperature, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :temperature, class: 'form-control'
  .form-group
    = f.label :humidity, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :humidity, class: 'form-control'
  .form-group
    = f.label :probe1_temperature, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :probe1_temperature, class: 'form-control'
  .form-group
    = f.label :created_at, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :created_at, {class: 'form-control datetimepicker', "data-provide" => 'datetimepicker'}
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
