.page-header{ style: 'border-bottom: none'}

- if @last_reading
  .row.panels
    .col-md-4
      .panel.panel-warning
        .panel-heading
          .row
            .col-xs-4
              %span.glyphicon.glyphicon-fire
            .col-xs-8.text-right
              %h1
                = "#{@last_reading.temperature}℃"
              Ambiant temperature
              %br
              =@last_reading.created_at.strftime("%b %e %Y @ %I:%M %p")
    .col-md-4
      .panel.panel-success
        .panel-heading
          .row
            .col-xs-4
              %span.glyphicon.glyphicon-tint
            .col-xs-8.text-right
              %h1
                = "#{@last_reading.humidity}%"
              Ambiant humidity
              %br
              =@last_reading.created_at.strftime("%b %e %Y @ %I:%M %p")
    .col-md-4
      .panel.panel-info
        .panel-heading
          .row
            .col-xs-4
              %span.glyphicon.glyphicon-fire
            .col-xs-8.text-right
              %h1
                = "#{@last_reading.probe1_temperature}℃"
              Probe Temperature
              %br
              =@last_reading.created_at.strftime("%b %e %Y @ %I:%M %p")
    .row.last-reading
      .col-md-12.text-right
        %p.date= ""

.row.charts
  %div#temperature-chart.chart{ style: "" }
  %div#humidity-chart.chart{ style: "" }

.row.charts
  %div#vessel-temp-chart.chart{ style: "" }

.table-responsive
  %h1 Listing readings
  .new-reading
    = link_to new_reading_path, class: 'btn btn-primary' do
      %span.glyphicon.glyphicon-plus
      New Reading
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Temperature
        %th Humidity
        %th Probe 1
        %th Created
        %th
        %th
        %th

    %tbody
      - @readings.each do |reading|
        %tr
          %td= reading.temperature
          %td= reading.humidity
          %td= reading.probe1_temperature
          %td= reading.created_at.strftime("%b %e %Y %I:%M %Z")
          %td= link_to 'Show', reading
          %td= link_to 'Edit', edit_reading_path(reading)
          %td= link_to 'Destroy', reading, data: { confirm: 'Are you sure?' }, method: :delete
