.page-header
  = link_to readings_path, class: 'btn btn-default' do
    %i.fas.fa-arrow-left
    Back
  = link_to edit_reading_path(@reading), class: 'btn btn-primary' do
    %i.fas.fa-edit
    Edit
  %h1 Show reading

%dl.dl-horizontal
  %dt Temperature:
  %dd= @reading.temperature
  %dt Humidity:
  %dd= @reading.humidity
  %dt Probe 1:
  %dd= @reading.probe1_temperature
