<p id="notice"><%= notice %></p>

<p>
  <strong>Temperature:</strong>
  <%= @reading.temperature %>
</p>

<p>
  <strong>Humidity:</strong>
  <%= @reading.humidity %>
</p>

<%= link_to 'Edit', edit_reading_path(@reading) %> |
<%= link_to 'Back', readings_path %>
