.page-header
  = link_to batches_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_batch_path(@batch), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1= @batch.name


.row
  .col-md-6= simple_format @batch.details
  .col-md-2
  .col-md-4.text-right.alcohol_content
    - if @batch.alcohol_content
      .value
        ="#{'%.2f' % @batch.alcohol_content}"
        %span.small> %

    .status
      %em= @batch.status

.row
  .col-xs-12
    .specific_gravities
      %h3 Specific Gravities

      .table-responsive
        %table.table.table-striped.table-bordered.table-hover
          %thead
            %tr
              %th Value
              %th Temperature
              %th Brewing Stage
              %th Date
              %th
              %th
              %th

          %tbody
            - @batch.specific_gravities.each do |specific_gravity|
              %tr
                %td= specific_gravity.value
                %td= specific_gravity.temperature
                %td= specific_gravity.stage
                %td= specific_gravity.created_at.to_formatted_s(:short)
                %td= link_to 'Show', batch_specific_gravity_path(@batch,specific_gravity)
                %td= link_to 'Edit', edit_batch_specific_gravity_path(@batch,specific_gravity)
                %td= link_to 'Destroy', batch_specific_gravity_path(@batch,specific_gravity), data: { confirm: 'Are you sure?' }, method: :delete

    = link_to new_batch_specific_gravity_path(@batch), class: 'btn btn-primary' do
      %span.glyphicon.glyphicon-plus
      New Specific gravity
